<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h2>Sorry, a conversion ADU is not allowed here. Conversion ADUs must be between X sqft and X sqft.	Lets see if you're eligible for a detached or attached ADU.</h2>
    <div class="form">
      <form action="/parking">
        <div>
          <button type="submit" class="button btn btn-lg mt-5">Check for eligibility</button> 
        </div>
      </form>
      <div>
        <a class="back_button btn btn-lg mt-5" href="/conversion" role="button">Back</a> 
      </div>
    </div>
  </div>
</div>