<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h2>Sorry, a conversion ADU is not allowed here. Conversion ADUs must be between X sqft and X sqft.</h2>
    <div class="form">
      <form action="/address2">
        <div>
          <button type="submit" class="button btn btn-lg mt-5">Check eligibility for another property</button> 
        </div>
      </form>
      <div>
        <a class="back_button btn btn-lg mt-5" href="/conversion" role="button">Back</a> 
      </div>
    </div>
  </div>
</div>