<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h2>Congratulations! Your property is eligible for both a detached and attached ADU! Let's check whether you're eligible for a conversion ADU.</h2>
    <div class="form">
      <form action="/conversion">
        <div>
          <button type="submit" class="button btn btn-lg mt-5">Check eligibility</button> 
        </div>
      </form>
      <div>
        <a class="back_button btn btn-lg mt-5" href="/parkingback" role="button">Back</a> 
      </div>
    </div>
  </div>
</div>