<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <div>
      <h2 class="pb-4">Do you already have an ADU on your property?</h2>
    </div>
    <div class="form pt-4">
      <form action="/">
        <div class="row">
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="existingadu" id="1" value="1" required>
              <label class="form-check-label" for="1">Yes</label>
            </div>
          </div>
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="existingadu" id="2" value="2" required>
              <label class="form-check-label" for="2">No</label>
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="button btn btn-lg mt-5">Next</button> 
        </div>
      </form>
      <div>
        <a class="back_button btn btn-lg mt-5" href="/address" role="button">Back</a> 
      </div>
    </div>
  </div>
</div>