
    <div class="container text-center">
    <h1 class="pb-4">Welcome to Cottage! We can check whether you're eligible for an ADU in seconds. Ready to go?</h1>
        <div class="form pt-4">
          <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
              </div>
              <div class="col">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
              </div>
            </div>
            <div class="button">
              <a class="btn btn-outline-light mt-5" href="address.html" role="button">Let's do it!</a>
            </div>
          </form>
        </div>
    </div>
