body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #E3EFEF;
}

.jumbotron {
  height: 100vh;
  padding-top: 10%;
}

h2 {
    
  padding-left: 10%;
  padding-right: 10%;
}

.navbar {
  background-color: #ffffff;
  color: #284D60;
}

.navbar img {
  height: 40px;
}

.form {
  padding-left: 25%;
  padding-right: 25%;
}

.btn {
  border-color: #284D60;
  color: #284D60;
}

.btn:hover {
  background-color: #284D60;
  border-color: #284D60;
  color: #ffffff;
}