body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #E3EFEF;
}

.jumbotron {
  height: 100vh;
  padding-top: 10%;
  background-color: #E3EFEF;
}

h2 {   
  padding-left: 10%;
  padding-right: 10%;
}

.form-check {
    padding-left: 30%;
}

.navbar {
  background-color: #ffffff;
  color: #284D60;
}

.navbar img {
  height: 40px;
}

.form {
  padding-left: 25%;
  padding-right: 25%;
}

.button {
  border-color: #284D60;
  color: #284D60;
}

.button:hover {
  background-color: #284D60;
  border-color: #284D60;
  color: #ffffff;
}

.back_button {
  border-color: #E3EFEF;
  color: #284D60;
}

.back_button:hover {
  background-color: #E3EFEF;
  border-color: #E3EFEF;
  color: #284D60;
}